@font-face {
  font-family: "Sannie";
  src: url('../fonts/Sannie-Typeface.otf') format("otf"),
       url('../fonts/Sannie-Typeface.ttf') format("ttf");
}

@font-face {
  font-family: "Starshine";
  src: url('../fonts/Starshine-Regular.otf') format("otf"),
       url('../fonts/Starshine-Regular.woff') format("woff"),
       url('../fonts/Starshine-Regular.woff2') format("woff2");
}
